<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Page isn't Found</title>
    <link rel="icon" type="image/x-icon" href="/img/vote.png">
    <style>
      body {
        background-size: cover;
      }
      .one{
        display: flex;
        flex-direction: row;
      }
      .two{
        display: flex;
        flex-direction: row;
      }
      .three{
        display: flex;
        flex-direction: row;
      }
    </style>
  </head>
  <body background="img/img2.jpg">
    <!-- this page is shown when we get 404 or page not found error -->
    <div class="bg-indigo-900 relative overflow-hidden h-screen">
      <div class="inset-0 bg-black opacity-25 absolute"></div>
      <div class="container px-6 md:px-14 relative z-20 flex items-center py-34 xl:py-42">
        <div class="w-full font-mono flex flex-col items-center relative z-12">
          <h1 class="font-extrabold text-8xl text-center text-white leading-tight mt-2 font-serif">
          </h1>
          <p class="font-extrabold text-8xl my-45 text-white animate-bounce font-serif" >
            404 - Page Not Found...
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
