<style>
  .but:hover{
    text-decoration-color: purple;
    opacity: .6;
    margin: 1px;
  }
  .one{
    display: flex;
    flex-wrap: wrap;
  }
</style>
<!-- header for all the ejs files -->
<!-- creating navbar -->
<nav class="p-7 bg-powderblue-500">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
      <a href="/" class="flex items-center">
        <span class="but self-center text-xl font-semibold whitespace-nowrap text-red-1000 font-serif text-white">E-Voting</span>
      </a>
      <div class="w-auto">
        <ul class="flex">
          <li>
            <a href="/signout" class="but block px-5 rounded font-serif text-white">SIGN-OUT</a>
          </li>
        </ul>
      </div>
    </div>
</nav>