<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="/img/vote.png">
    <style>
        body{
            background-size: cover;
            background-color:rgb(174, 169, 169);
        }
        .signup{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content:center;
            margin: auto;
            overflow: hidden;
        }
        #roundButton{
            border-radius:100px;
        }
        .two{
            display: flex;
            flex-direction: row;
        }
        .three{
            display: flex;
            flex-direction: row;
        }
        .six{
            background-color: rgb(106, 104, 104);
            border: 2px solid aqua;
        }
        .round{
        background-color: rgb(255, 255, 255);
        border-radius: 50px;
        padding: 10px;
      }
      .box{
        width: 100%;
      }
      label,input{
        display: inline;
      }
    </style>
</head>
<!-- class="bg-gray-50" -->
<body background="img/img4.jpg">
    <p>Results are as follows : </p>
</body>
</html>