<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="/img/vote.png">
        <style>
            body{
              background-size:cover;
              background-color:rgb(174, 169, 169);
            }
            .signup{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content:center;
                margin: auto;
                overflow: hidden;
            }
            .navbar{
                display: flex;
                flex-wrap: wrap;
                margin: auto;
                overflow: hidden;
            }
            .form{
                border:1px solid green;
            }
            #roundButton{
            border-radius:100px;
            }
            .six{
                background-color: rgb(106, 104, 104);
                border: 2px solid aqua;
            }
            .xyz{
                border-radius: 50px;
            }
            .round{
        background-color: rgb(255, 255, 255);
        border-radius: 50px;
        padding: 10px;
      }
          </style>
</head>
<body background="img/img4.jpg">
    <nav>
        <div class="container navbar">
          <a href="/" class="py-2 px-4 flex items-center">
            <span class="self-center text-xl font-semibold whitespace-nowrap text-cyan-400 hover:text-white">e-Voting</span>
          </a>
        </div>
    </nav>
    <!-- change -->
    <div class="signup text-gray-800 antialiased">
        <div class=" sm:w-96 mx-auto text-center">
            <div>
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <p class="bg-white my-3 list-none rounded-md px-4 py-2 hover:text-indigo-900"><%= messages.error[i] %></p>
                    <% } %>
                <% } %>
            </div>
            <div class="xyz form mt-4 shadow-md rounded-lg text-left">
                <!-- a form for signing up -->
                <form action="/admin" method="post" class="px-8 py-6">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <label class="text-3xl font-light font-serif hover:text-indigo-900 text-decoration-line: underline text-white">Create new account</label>

                    <label for="firstName" class="block mt-3 font-semibold font-serif hover:text-indigo-900 text-white">First name</label>
                    <input id="firstName" name="firstName" type="text" placeholder="First name" class="six border w-full h-5 px-3 py-8 mt-2 hover:outline-none focus:outline-none focus:ring-amber-400 focus:ring-1 rounded-md" required>

                    <label for="lastName" class="block mt-3 font-semibold font-serif hover:text-indigo-900 text-white">Last name</label>
                    <input id="lastName" name="lastName" type="text" placeholder="Last name" class="six border w-full h-5 px-3 py-8 mt-2 hover:outline-none focus:outline-none focus:ring-amber-400 focus:ring-1 rounded-md">
                    <label for="email" class="block mt-3 font-semibold font-serif hover:text-indigo-900 text-white">Email</label>
                    <input id="email" name="email" type="email" placeholder="Email" class="six border w-full h-5 px-3 py-8 mt-2 hover:outline-none focus:outline-none focus:ring-amber-400 focus:ring-1 rounded-md" required>

                    <label for="password" class="block mt-3 font-semibold font-serif hover:text-indigo-900 text-white">Password</label>
                    <input id="password" name="password" type="password" placeholder="Password" class="six border w-full h-8 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md" required>
                    
                    <button type="submit" id="roundButton" class="mt-6 bg-cyan-400 w-full text-white py-5 px-6 rounded-md hover:bg-cyan-400 font-serif hover:text-indigo-900 hover:text-indigo-900">Create account</button>
                </form>
            </div>
            <div class="mt-4">
                <a href="/login" class="round text-lg font-serif hover:text-indigo-900 text-red-400">Sign in</a>
            </div>
        </div>
    </div>
</body>
</html>